:root, [data-bs-theme=light] {
  --bs-primary: rgb(255,254,241);
  --bs-primary-rgb: 255,254,241;
  --bs-primary-text-emphasis: #666660;
  --bs-primary-bg-subtle: #FFFFFC;
  --bs-primary-border-subtle: #FFFFF9;
  --bs-secondary: #d30547;
  --bs-secondary-rgb: 211,5,71;
  --bs-secondary-text-emphasis: #54021C;
  --bs-secondary-bg-subtle: #F6CDDA;
  --bs-secondary-border-subtle: #ED9BB5;
  --bs-success: #545454;
  --bs-success-rgb: 84,84,84;
  --bs-success-text-emphasis: #222222;
  --bs-success-bg-subtle: #DDDDDD;
  --bs-success-border-subtle: #BBBBBB;
  --bs-info: #002664;
  --bs-info-rgb: 0,38,100;
  --bs-info-text-emphasis: #000F28;
  --bs-info-bg-subtle: #CCD4E0;
  --bs-info-border-subtle: #99A8C1;
  --bs-warning: #d76f00;
  --bs-warning-rgb: 215,111,0;
  --bs-warning-text-emphasis: #562C00;
  --bs-warning-bg-subtle: #F7E2CC;
  --bs-warning-border-subtle: #EFC599;
  --bs-danger: #0097B2;
  --bs-danger-rgb: 0,151,178;
  --bs-danger-text-emphasis: #003C47;
  --bs-danger-bg-subtle: #CCEAF0;
  --bs-danger-border-subtle: #99D5E0;
  --bs-light: #FFFFFF;
  --bs-light-rgb: 255,255,255;
  --bs-light-text-emphasis: #666666;
  --bs-light-bg-subtle: #FFFFFF;
  --bs-light-border-subtle: #FFFFFF;
  --bs-dark: #101010;
  --bs-dark-rgb: 16,16,16;
  --bs-dark-text-emphasis: #060606;
  --bs-dark-bg-subtle: #CFCFCF;
  --bs-dark-border-subtle: #9F9F9F;
  --bs-body-color: #101010;
  --bs-body-color-rgb: 16,16,16;
  --bs-secondary-color: rgba(16,16,16,0.75);
  --bs-secondary-color-rgb: 16,16,16,0.75;
  --bs-tertiary-color: rgba(16,16,16,0.5);
  --bs-tertiary-color-rgb: 16,16,16,0.5;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-body-font-family: 'Changa One', serif;
  --bs-link-color: #fffef1;
  --bs-link-color-rgb: 255,254,241;
  --bs-link-hover-color: #c5c4bd;
  --bs-link-hover-color-rgb: 197,196,189;
  --bs-focus-ring-opacity: 0.3;
  --bs-focus-ring-color: rgba(215,111,0,0.25);
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(255,254,241);
  --bs-btn-border-color: rgb(255,254,241);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFFEF3;
  --bs-btn-hover-border-color: #FFFEF2;
  --bs-btn-focus-shadow-rgb: 38,38,36;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFFEF4;
  --bs-btn-active-border-color: #FFFEF2;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(255,254,241);
  --bs-btn-disabled-border-color: rgb(255,254,241);
}

.btn-outline-primary {
  --bs-btn-color: rgb(255,254,241);
  --bs-btn-border-color: rgb(255,254,241);
  --bs-btn-focus-shadow-rgb: 255,254,241;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(255,254,241);
  --bs-btn-hover-border-color: rgb(255,254,241);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(255,254,241);
  --bs-btn-active-border-color: rgb(255,254,241);
  --bs-btn-disabled-color: rgb(255,254,241);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(255,254,241);
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d30547;
  --bs-btn-border-color: #d30547;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #B3043C;
  --bs-btn-hover-border-color: #A90439;
  --bs-btn-focus-shadow-rgb: 248,218,227;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A90439;
  --bs-btn-active-border-color: #9E0435;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d30547;
  --bs-btn-disabled-border-color: #d30547;
}

.btn-outline-secondary {
  --bs-btn-color: #d30547;
  --bs-btn-border-color: #d30547;
  --bs-btn-focus-shadow-rgb: 211,5,71;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d30547;
  --bs-btn-hover-border-color: #d30547;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d30547;
  --bs-btn-active-border-color: #d30547;
  --bs-btn-disabled-color: #d30547;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d30547;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #545454;
  --bs-btn-border-color: #545454;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #474747;
  --bs-btn-hover-border-color: #434343;
  --bs-btn-focus-shadow-rgb: 229,229,229;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #434343;
  --bs-btn-active-border-color: #3F3F3F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #545454;
  --bs-btn-disabled-border-color: #545454;
}

.btn-outline-success {
  --bs-btn-color: #545454;
  --bs-btn-border-color: #545454;
  --bs-btn-focus-shadow-rgb: 84,84,84;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #545454;
  --bs-btn-hover-border-color: #545454;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #545454;
  --bs-btn-active-border-color: #545454;
  --bs-btn-disabled-color: #545454;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #545454;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #002664;
  --bs-btn-border-color: #002664;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #002055;
  --bs-btn-hover-border-color: #001E50;
  --bs-btn-focus-shadow-rgb: 217,222,232;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #001E50;
  --bs-btn-active-border-color: #001D4B;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #002664;
  --bs-btn-disabled-border-color: #002664;
}

.btn-outline-info {
  --bs-btn-color: #002664;
  --bs-btn-border-color: #002664;
  --bs-btn-focus-shadow-rgb: 0,38,100;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #002664;
  --bs-btn-hover-border-color: #002664;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #002664;
  --bs-btn-active-border-color: #002664;
  --bs-btn-disabled-color: #002664;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #002664;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #d76f00;
  --bs-btn-border-color: #d76f00;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #DD8526;
  --bs-btn-hover-border-color: #DB7D19;
  --bs-btn-focus-shadow-rgb: 32,17,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #DF8C33;
  --bs-btn-active-border-color: #DB7D19;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #d76f00;
  --bs-btn-disabled-border-color: #d76f00;
}

.btn-outline-warning {
  --bs-btn-color: #d76f00;
  --bs-btn-border-color: #d76f00;
  --bs-btn-focus-shadow-rgb: 215,111,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #d76f00;
  --bs-btn-hover-border-color: #d76f00;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #d76f00;
  --bs-btn-active-border-color: #d76f00;
  --bs-btn-disabled-color: #d76f00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d76f00;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #0097B2;
  --bs-btn-border-color: #0097B2;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #26A7BE;
  --bs-btn-hover-border-color: #19A1BA;
  --bs-btn-focus-shadow-rgb: 0,23,27;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #33ACC1;
  --bs-btn-active-border-color: #19A1BA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #0097B2;
  --bs-btn-disabled-border-color: #0097B2;
}

.btn-outline-danger {
  --bs-btn-color: #0097B2;
  --bs-btn-border-color: #0097B2;
  --bs-btn-focus-shadow-rgb: 0,151,178;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #0097B2;
  --bs-btn-hover-border-color: #0097B2;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #0097B2;
  --bs-btn-active-border-color: #0097B2;
  --bs-btn-disabled-color: #0097B2;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0097B2;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #FFFFFF;
  --bs-btn-border-color: #FFFFFF;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D9D9D9;
  --bs-btn-hover-border-color: #CCCCCC;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CCCCCC;
  --bs-btn-active-border-color: #BFBFBF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #FFFFFF;
  --bs-btn-disabled-border-color: #FFFFFF;
}

.btn-outline-light {
  --bs-btn-color: #FFFFFF;
  --bs-btn-border-color: #FFFFFF;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFFFFF;
  --bs-btn-hover-border-color: #FFFFFF;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFFFFF;
  --bs-btn-active-border-color: #FFFFFF;
  --bs-btn-disabled-color: #FFFFFF;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #FFFFFF;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #101010;
  --bs-btn-border-color: #101010;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0E0E0E;
  --bs-btn-hover-border-color: #0D0D0D;
  --bs-btn-focus-shadow-rgb: 219,219,219;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0D0D0D;
  --bs-btn-active-border-color: #0C0C0C;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #101010;
  --bs-btn-disabled-border-color: #101010;
}

.btn-outline-dark {
  --bs-btn-color: #101010;
  --bs-btn-border-color: #101010;
  --bs-btn-focus-shadow-rgb: 16,16,16;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #101010;
  --bs-btn-hover-border-color: #101010;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #101010;
  --bs-btn-active-border-color: #101010;
  --bs-btn-disabled-color: #101010;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #101010;
}

